{% extends 'admin.html.twig' %}

{% block body %}
	<section class="py-5">
		<div
			class="container px-4 px-lg-5 mt-5">
			{# {{ form(formProduits) }} #}
			{{ form_start(form) }}
			{{ form_row(form.Nom) }}<br>
			{{ form_row(form.Type) }}<br>
			{{ form_row(form.Description) }}<br>
			{{ form_row(form.Prix, {'label': 'Mon prix*'}) }}<br>
			{{ form_row(form.imageFile) }}<br>
			 <button type="submit" class="btn btn-primary">{{ button_label|default ('Enregistrer') }}</button>
			{# <input type="submit" value="enregistrer" class="btn btn-small btn-warning"> #}
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
